.root {
	-fx-background-image: url("hawaiian_pattern.jpg");
	-fx-background-repeat: stretch; 
	-fx-background-image-opacity: 0.4;
	-fx-background-color: white;
	-fx-font-family: "Courier Sans Serif";
}

#playerHeader {
	-fx-font-size: 90;
}

#headerText {
	-fx-padding: 50 200 50 200;
}

#optionBox {
	-fx-padding: 50% 100% 75% 100%;
}

#selectOption {
	
}

	#gameIcon {

	}

		#gameName {
			-fx-font-size: 30;
			-fx-text-alignment: center;
		}

#playerButton {
	-fx-padding: 25 100 25 100;
}

#gameChooser {
	-fx-padding: 50 200 50 200;
}

#arrow:hover  {
	-fx-opacity: 0.7;
}